.App-Wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-auto-columns: 2fr 10fr;
    grid-template-areas:
            "h h"
            "n c";
}
.App-Wrapper Header img {
    width: 60px;
    border-radius: 50%;
}

.Header {
    grid-area: h;
    background: darkolivegreen;
}

.NavBar {
    grid-area: n;
    background: darkgray;
}

.Content {
    grid-area: c;
    background: azure;
}

