.App-Wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-auto-columns: 2fr 10fr;
    grid-template-areas:
            "h h"
            "n c";
}




.NavBar {
    grid-area: n;
    background: darkgray;
}

.Content {
    grid-area: c;
    background: azure;
}

