.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogsName {

}
.dialogsName .active{
    color: gold;
}

.name {

}

.dialogMessage {
    padding: 10px
}

.message {

}